.footer {
  background-color: #1a1f2f;
  color: #fff;
  .footer-container {
    margin-left: 50px;
    display: flex;
    gap: 135px;
    padding: 20px 0 20px 0;
    font-size: 17px;
    .description {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 31.25px;
        font-family: 700;
        line-height: 1.3em;
        letter-spacing: -1.5px;
        margin-bottom: 0px;
        span {
          color: #fa721b;
        }
      }
      p {
        text-align: left;
        color: #ffffff;
        font-family: "Manrope", sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.8em;
      }
      .large-screen-description-privacy {
        margin-left: 60px;
        .privacy-link {
          text-decoration: none;
          color: #ffffff;
          font-family: "Manrope", sans-serif;
          font-size: 15px;
        }
        .privacy-link:hover {
          color: #fa721b;
        }
      }
      .footer-social {
        display: flex;
        gap: 3px;
        .footer-social-link {
          color: white;
          background-color: #fa721b;
          border-radius: 100%;
          padding: 0.4em;
        }
        .footer-social-link:hover {
          background-color: #fff;
          color: #1a1f2f;
        }
      }
    }
    .footer-section {
      display: flex;
      flex-direction: column;
      .partners-logos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .partners-row {
          display: flex;
          gap: 20px;
          .partner-logo {
            border-radius: 100%;
            background-color: #ffffff;
          }
        }
      }
      h2 {
        color: #fa721b;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: -0.5px;
        margin-top: 40px;
      }
      .section-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 0 20px 0;
        li a {
          text-decoration: none;
          text-align: left;
          color: #ffffff;
          font-family: "Manrope", sans-serif;
          font-size: 17px;
          font-weight: 500;
          line-height: 1.8em;
        }
        li a:hover {
          color: #fa721b;
        }
      }
    }
    .small-screen-description-privacy {
      display: none;
    }
  }
}

@media (max-width: 972px) {
  .footer {
    .footer-container {
      margin: 0px;
      padding: 10px 10px 0 20px;
      flex-direction: column;
      gap: 10px;

      .footer-section {
        h2 {
          margin-top: 20px;
        }
      }
      .description {
        .large-screen-description-privacy {
          display: none;
        }
      }
      .small-screen-description-privacy {
        display: block;
        .privacy-link {
          color: #fa721b;
          text-decoration: none;

          font-family: "Manrope", sans-serif;
          font-size: 15px;
        }
        .privacy-link:hover {
          color: #ffffff;
        }
      }
    }
  }
}
