.navbar {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 50px; */
  margin-left: 100px;
  margin-right: 50px;
  .navbar-logo {
  }
  .navbar-links {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    .dropdown {
      position: relative;
      display: inline-block;

      .services-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 2;
        min-width: 100%;
        text-align: center;
        a {
          color: #555555ba;
          border-bottom: 0.5px solid #e5e1e1;
          text-decoration: none;
          display: block;
        }
        a:hover {
          background-color: #f1f1f1;
        }
        /* .buyservices-dropdown-content a {
          font-size: 15px;
          padding: 12px 15px;
        } */
        .ourservices-dropdown-content a {
          font-size: 13px;
          padding: 14px 0px;
        }
      }
    }
    .dropdown:hover .services-dropdown-content {
      display: block;
    }
    .navbar-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      height: 77px;
      padding: 10px;
      text-decoration: none;
      color: #1a1f2f;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;
    }
    .navbar-link:hover {
      border-bottom: 3px solid #fa721b;
    }
    .navbar-link.active {
      border-bottom: 3px solid #fa721b;
    }
  }
  .navbar-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .navbar-social-link {
      color: white;
      background-color: #fa721b;
      border-radius: 100%;
      padding: 0.4em;
    }
    .navbar-social-link:hover {
      background-color: #1a1f2f;
    }
  }
  .navbar-menu-icon {
    display: none;
  }
}
@media (max-width: 972px) {
  .navbar {
    padding:0px 10px 0 10px;
    margin: 0px;
   .navbar-links {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
    }
    .navbar-social {
      display: none;
    }
    .navbar-menu-icon {
      display: block;
      cursor: pointer;
    }
    .navbar-menu-icon svg {
      cursor: pointer;
    }
  }
  .navbar-links.active {
    z-index: 1;
    display: flex;
  }
}
