.email-support-section2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px;

    .image-container {
      width: 40%;
      display: flex;
      justify-content: center;
      .email-image {
        border-radius: 20px;
      }
    }

    .text-content {
      h2 {
        color: #1a1f2f;
      }
      p {
        font-family: "Manrope", sans-serif;
        font-size: 17px;
        line-height: 1.8em;
        color: #7886a2;
        font-weight: 500;
        max-width: 900px;
        .highlight {
          font-weight: 600;
          font-size: 18px;
          color: var(--button-bg-color);
        }
      }
    }
  }
}
@media (max-width: 932px) {
  .email-support-section2-container {
    .content-container {
      margin: 0;
      padding: 10px;
      display: block;

      .image-container {
        .email-image {
          display: none;
        }
      }
      .text-content {
        p {
          font-size: 15px;
        }
        .highlight {
          font-size: 16px;
          text-align: start;
        }
      }
    }
  }
}
