.no-scroll {
  overflow: hidden;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px 50px 60px 100px;
  .top-section {
    display: flex;

    .about-us-left {
      flex: 1;
      padding-right: 40px;
      .about-title {
        font-size: 39.06px;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: -2px;
        color: #fa721b;
        /* margin-bottom: 20px; */
      }
      .about-para {
        color: #1a1f2f;
        font-family: "Manrope", sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.8em;
        max-width: 700px;
        text-align: justify;
        margin-bottom: -20px;
      }
      .director {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: -0.5px;
      }

      .director-name {
        font-size: 15px;
        font-family: "Manrope", sans-serif;
        color: #7886a2;
        margin-top: -18px;
      }
    }
    .about-us-right {
      flex: 1;
      display: flex;
      gap: 60px;
      margin-top: 0px;
      .about-us-card {
        /* background-color: black; */
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        /* flex: 1; */
        height: auto;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        .card-title {
          color: #1a1f2f;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.5em;
          letter-spacing: -0.5px;
          margin-bottom: 10px;
        }
        .card-para {
          color: #1a1f2f;
          font-family: "Manrope", sans-serif;
          font-size: 17px;
          font-weight: 500;
          line-height: 1.8em;
          max-width: 320px;
        }

        .card-btn {
          color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        background-color: var(--button-bg-color);
        padding: 10px 20px;
        min-height: 47px;
        font-weight: 500;
        line-height: 1.8em;
        border-radius: 100px;
        border-style: none;
        cursor: pointer;
        transition: var(--button-transition);
        width: 70%;
        }
        .card-btn:hover {
          background-color: var(--button-hover-bg-color);
        }
        .card-image {
          filter: brightness(0) saturate(100%) invert(49%) sepia(88%)
            saturate(2226%) hue-rotate(345deg) brightness(101%) contrast(101%);
          margin-top: 20px;
        }
      }

      .about-us-card:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background-color: white;
      }
    }
  }


  .bottom-cards {
    flex: 1;
    display: flex;
    gap: 57px;
    .about-us-card {
      /* background-color: black; */
      background-color: #f7f7f7;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      /* flex: 1; */
      /* height: 500px; */
      height: auto;
      width: 300px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      .card-title {
        color: #1a1f2f;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
      }
      .card-para {
        color: #1a1f2f;
        font-family: "Manrope", sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.8em;
        max-width: 320px;
      }

      .card-btn {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        background-color: var(--button-bg-color);
        padding: 10px 20px;
        min-height: 47px;
        font-weight: 500;
        line-height: 1.8em;
        border-radius: 100px;
        border-style: none;
        cursor: pointer;
        transition: var(--button-transition);
        width: 70%;
      }
      .card-btn:hover {
        background-color: var(--button-hover-bg-color);
      }
      .card-image {
        filter: brightness(0) saturate(100%) invert(49%) sepia(88%)
          saturate(2226%) hue-rotate(345deg) brightness(101%) contrast(101%);
        margin-top: 20px;
      }
    }

    .about-us-card:hover {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      background-color: white;
    }
  }
}

@media (max-width: 932px) {
  .about-us-container {
    margin: 10px 10px 30px 10px;
    gap: 30px;
    .top-section {
      flex-direction: column;
      .about-us-left {
        padding-right: 0px;
        .about-title {
          font-size: 30px;
        }
        .about-para {
          font-size: 18px;
        }
        .director{
          margin-top: 0px;
        }
      }

      .about-us-right {
        margin-top: 10px;
        gap: 30px;
        flex-direction: column;
        padding: 0 10px;
        .about-us-card {
          width: auto;
          margin: 0px;
          padding: 40px 30px;
          .card-image {
            width: 60px;
            height: 60px;
          }
          .card-title {
            font-size: 19.2px;
          }
          .card-para {
            max-width: none;
            line-height: 1.5em;
            font-size: 92%;
          }
          .card-btn {
            padding: 16px;
            width: 100%;
          }
        }
      }
    }




    .bottom-cards {
      flex-direction: column;
      gap: 30px;
      padding: 0 10px;
      .about-us-card {
        /* width: 100%; */
        width: auto;

        .card-image {
          width: 60px;
          height: 60px;
        }
        .card-title {
          font-size: 19.2px;
        }
        .card-para {
          max-width: none;
          line-height: 1.5em;
          font-size: 92%;
         }
        .card-btn {
          padding: 16px;
          width: 100%;
        }
      }
    }
  }
}
