.about-services-section {
  background: linear-gradient(
      135deg,
      rgba(227, 146, 15, 0.772),
      rgba(26, 15, 10, 0.084)
    ),
    url("/woman-customer-care.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  background-position: 10% 23%;
  /* justify-content: flex-start; */
  align-items: center;
  position: relative;
  overflow: hidden;
  .card {
    max-width: 442px;
    background-color: white;
    padding: 40px;
    border-radius: 8px 8px 80px 8px;
    position: relative;
    left: 100px;
    top: 0px;
    h1 {
      font-size: 25px;
      font-weight: 800;
    }
    p {
      font-size: 18px;
      color: #b3b3b3;
    }

    .services-btn {
      background-color: var(--button-bg-color);
      color: white;
      padding: 20px;
      margin-top: 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: var(--button-transition);
    }
    .services-btn:hover {
      background-color: var(--button-hover-bg-color);
    }
  }
}

@media (max-width: 972px) {
  .about-services-section {
    opacity: 85%;
    width: 100%;
    height: 70vh;
    background-position: 77% 36%;

    .card {
      /* height: auto; */
      /* top: 30px; */
      /* left: 59px; */
      top: 3px;
      left: 35px;
      width: 65%;
      h1 {
        font-size: 23px;
      }
      p {
        font-size: 22px;
      }
      .services-btn {
        width: 100%;
      }
    }
  }
}
