.about-services-section {
  background: linear-gradient(
      135deg,
      rgba(227, 146, 15, 0.772),
      rgba(26, 15, 10, 0.084)
    ),
    url("/woman-customer-care.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  background-position: 10% 23%;
  /* justify-content: flex-start; */
  align-items: center;
  position: relative;
  overflow: hidden;
  .card {
    max-width: 442px;
    background-color: white;
    padding: 40px;
    border-radius: 8px 8px 8px 80px;
    position: relative;
    left: 100px;
    top: 0px;
    h1 {
      color: #1a1f2f;
      font-size: 39.06px;
      font-family: 700;
      line-height: 1.2em;
      letter-spacing: -2px;
      font-style: normal;
  
    }
    p {
      font-family: "Manrope", sans-serif;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.8em;
      color: #7886a2;
     
    }

    .services-btn {
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      background-color: var(--button-bg-color);
      padding: 20px 40px;
      min-height: 47px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.8em;
      border-radius: 100px;
      border-style: none;
      cursor: pointer;
      transition: var(--button-transition);
      width: auto;
    }
    .services-btn:hover {
      background-color: var(--button-hover-bg-color);
    }
  }
}

@media (max-width: 972px) {
  .about-services-section {
    width: 100%;
    height: 70vh;
    background-position: 77% 36%;

    .card {
      top: 3px;
      left: 32px;
      height: auto;
      width: 73%;
      padding: 30px;
      border-radius:  10px 10px 60px 10px;
      h1 {
        font-size: 33.1px;
        max-width: 390px;
      }
      p {
        font-size: 17px;
        max-width: 390px;
      }
      .services-btn {
        margin: 0;
        width: 100%;
      }
    }
  }
}
