/* General Styles */
.live-support-page {
  color: #2c2c2c;
  background-color: #f0f4f8;
  line-height: 1.6;

  /* Hero Section */
  .hero-section {
    background-image: url("/empty-workplace.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .hero-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .hero-content {
        text-align: center;
        color: #fff;
        padding: 20px;
        h1 {
          font-size: 3.5rem;
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 1.2em;
          letter-spacing: -2px;
          animation: fadeInDown 1s ease-in-out;
        }
        p {
          font-family: "Manrope", sans-serif;
          font-weight: 500;
          line-height: 1.8em;
          font-size: 1.5rem;
          margin-bottom: 40px;
          animation: fadeInUp 1s ease-in-out;
        }
        .cta-link {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          background-color: var(--button-bg-color);
          padding: 20px 40px;
          min-height: 47px;
          font-weight: 500;
          line-height: 1.8em;
          border-style: none;
          cursor: pointer;
          background-color: var(--button-bg-color);
          color: white;
          padding: 15px 30px;
          font-size: 1.2rem;
          border-radius: 30px;
          transition: background-color 0.3s ease;
          text-decoration: none;
        }

        .cta-link:hover {
          background-color: #ff6200;
        }
      }
    }
  }
  /* Why Us Section */
  .why-us {
    padding: 80px 20px;
    background-color: #f7f7f7;
    text-align: center;
    .section-heading {
      color: #1a1f2f;
      font-size: 39.06px;
      font-weight: 700;
      line-height: 1.2em;
      letter-spacing: -2px;
    }
    .why-us-content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .why-us-item {
        max-width: 350px;
        padding: 20px;
        margin: 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        h3 {
          color: #1a1f2f;
          font-size: 30.06px;
          font-weight: 700;
          line-height: 1.2em;
          letter-spacing: -2px;
        }
        p {
          font-family: "Manrope", sans-serif;
          font-size: 17px;
          font-weight: 500;
          color: #1a1f2f;
          line-height: 1.8em;
          margin-top: -20px;
          margin-bottom: 40px;
        }
      }
      .why-us-item:hover {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  /* Footer */
  .footer-div {
    background-color: #333;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.8em;
    font-family: "Manrope", sans-serif;
    padding: 1px;
    text-align: center;
  }
}

/* Animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 932px) {
  .live-support-page {
    .hero-section {
      height: 45vh;
      .hero-overlay{
        align-items: start;
      .hero-content{
        h1{
          font-size: 40px;
        }
        p{
          font-size: 17px;
        }
      }
    }
    }

    .why-us {
      padding: 10px 20px 20px 20px;
    }

    .footer-div {
      p {
        font-size: 15px;
      }
    }
  }
}
