.request-quote-section {
  background-color: #1a1f2f;
  padding: 20px 50px 0 50px;
  color: white;
  display: flex;
  gap: 28px;

  .image-section {
    flex: 1;
  }

  .form-section {
    .quote-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #ffffff;
      padding: 1px 50px 20px 50px;
      border-radius: 100px 20px 120px 20px;
      margin-top: 33px;
      h2 {
        font-size: 39.06px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.2em;
        letter-spacing: -2px;
        color: #1a1f2f;
      }
      .input-row {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .input-field {
          font-size: 16px;
          min-height: 47px;
          padding: 6px 16px;
          border-radius: 4px;
          border: 1px solid #f1f0f0;
          outline: none;
          background-color: transparent;
          color: #475569;
        }
        .input-full-width {
          font-size: 16px;
          min-height: 47px;
          padding: 6px 16px;
          border-radius: 4px;
          border: 1px solid #f1f0f0;
          outline: none;
          background-color: transparent;
          color: #475569;
        }

        .textarea-field {
          height: 120px;
          outline: none;
        }
      }
      .quote-button {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        background-color: var(--button-bg-color);
        padding: 24px;
        min-height: 47px;
        font-weight: 500;
        line-height: 1.8em;
        border-radius: 100px;
        border-style: none;
        cursor: pointer;
        transition: var(--button-transition);
        width: 60%;
        /* margin-top: 10px; */
      }
      .quote-button:hover {
        background-color: var(--button-hover-bg-color);
      }
    }
  }
  .first-section {
    max-width: 500px;
    margin-left: 35px;
    .section-title {
      font-size: 48.83px;
      font-weight: 700;
      font-style: normal;
      line-height: 1.1em;
      letter-spacing: -2px;
      color: #fa721b;
      br{
        display: none;
      }
    }
    .section-description {
      color: #ffffff;
      font-family: "Manrope", sans-serif;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.8em;
      margin: 0px;
      max-width: 460px;
      text-align: justify;
    }

    .tick-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1px;
      .tick-content {
        /* padding: 10px; */
        h3 {
          color: #ffffff;
          font-size: 25px;
          font-weight: 700;
          line-height: 1.4em;
          letter-spacing: -1px;
          margin-bottom: 10px;
          /* margin: 0px; */
        }
        p {
          text-align: left;
          line-height: 1.8em;
          font-size: 16px;
          color: #7886a2;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .request-quote-section {
    flex-direction: column;
    align-items: center;
    width: 97%;
    padding: 0 0px 40px 10px;
    gap: 2px;
    
    .image-section {
      display: none;
    }
    .first-section {
      order: 1;
      margin-left: 0px;
      padding-right:10px;
      .section-title {
        font-size: 39.81px;
        br{
          display: block;
        }
      }
      .section-description {
        margin-top: 15px;
        margin-bottom: 20px;
      }
      .tick-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        .tick-content {
          padding: 0px;
          p {
            font-size: 25px;
          }
          h3 {
            margin: 20px 0 20px 0px;
          }
        }
      }
    }

    .form-section {
      order: 2;
      height: auto;
      width: 90%;
      padding: 20px 0;
      margin-right: 20px;
      .quote-form {
        border-radius: 20px;
        padding: 10px 20px 20px 20px;
        h2 {
          font-weight: 900;
          font-size: 22px;
        }
        .input-row {
          flex-direction: column;
          .input-field {
            width: 92%;
            padding: 10px;
          }
          .input-full-width {
            width: 92%;
            padding: 10px;
          }
        }
        .quote-button {
          width: 100%;
          padding: 20px;
          margin-top: 20px;
        }
      }
    }

  
  }
}
